#result, #alert {
  display: none;
}

#alert {
  background-image: url('../images/alert_image.png');
}

body {
  padding: 10%;
  background-color: gray;
  background-clip: content-box; 
 }

 .container {
  background-color: lightgrey;
 }

 h1 {
   text-align: center;
 }